<h1>WELCOME TO STRATEQUAL <br> 
	YOUR SQL SKILLS WILL SERVE YOU <br> 
 </h1>
<br> 
<!-- <li><a href="/skills/new">New Skill</a></li>
<li><a href="/todo">To Do</a></li> -->
<h2> 
<div class="row">
	<% @skills.each do |skill| %>
  <!-- <div class="col-md-3 col-sm-3">	 -->
  <div class="col-md-4 col-sm-1 col-sm-1">	 	
<a href="/skills/<%= skill.id %>" ></li> 	
	<h3> 
 <%= skill.name %>
 <br> 
 <%= skill.description %> 

<%=image_tag skill.image_url, width: '120', height: '120' %>
<!-- 
</a> 
<br>
	<%= submit_tag "Edit Skill" %>
</a>  -->
	</div>	
	<% end %>
</h2>

Today's date is <%=Date.today %> 
Time is <%=Time.now.strftime("%I:%M:%S %p")  %></h2> 

