<h1>Great job!</h1>
<h2>Here was the query you submitted:</h2>
<pre><%= @query %></pre>
<h3>Data</h3>
<div>
	<table>
		<tr>
			<th> First  </th> 
			<th> Last  </th>
			<th> Gender  </th>
			<th> Tattoo </th> 
		</tr>
		<% @players.each do |player| %>
			<tr>
				<td><%= player.first_name %></td>
				<td><%= player.last_name %></td>
				<td><%= player.gender %></td>
				<td><%= player.tattoo_id %></td>	
				<td><%= player.tattoo_id %></td>				
				<td><%= player.occupation %></td>			
			</tr>
		<% end %>
	</table>
</div>
<% if @correct %>
	<h4>Good job! You got the right answer!</h4>
<% else %>
	<h4>Sorry, that's not the correct answer. Please try again.</h4>
<% end %>