<h1> Blargh 
	<br>
Today's date is <%=Date.today %> 
</h1>
<h2>
puts "WOED is 12784308"	
<br> 
<%= @title %> 
<br> Temperature is 
<%=@temp %>
<br> Weather is 
<%= @text %> 
<br> 
<%= @response.description.html_safe %> 
<br> 
<%= form_tag("/weather", method: "get") do %>
  <%= label_tag(:woeid, "Search for:") %>
  <%= text_field_tag(:woeid) %>
  <%= submit_tag("SEARCH") %>
<%end%>
</h2> 