<h5> 
Professionally, I am happiest when I am helping people and solving problems using programming. <br>Ongoing education and mentoring others are my passion. <br> <br> 
<p> I’m a versatile, responsible, forward-thinking information technology professional <br> with demonstrated capabilities 
in programming, writing, teamwork and creative problem solving. <br> I’m productive, ambitious, hard-working and kind. <br> I bridge the communication gap that may exist between technical and non-technical people.</p> </h5> 



<h4> 

<%= image_tag("meMill.jpg", width: '200', height: '300') %>
<!--   <%= image_tag("meK3.jpg", width: '200', height: '300') %>  -->
  <%= image_tag("flashes2.png", width: '200', height: '300') %>   


 <%= image_tag("meK.jpg", width: '200', height: '300') %> 
<!--  <%= image_tag("meGrand.jpg", width: '200', height: '300') %>  -->

 <%= image_tag("meB.jpg", width: '200', height: '300') %> 
 <%= image_tag("meBW.jpg", width: '200', height: '300') %> 
 <%= image_tag("me.jpg", width: '200', height: '300') %>
</h4> 

