<h1>WELCOME TO STRATEQUAL <br> 
	YOUR TOMORROW IS NOW <br> 
 </h1>
<h2> 
Today's date is <%=Date.today %> 
<br>
puts "WOED is 12784308"	
<br> 
<br> 
<%= @title %> 
<br> Temperature is 
<%=@temp %>
<br> Weather is 
<%= @text %> 
<br> 
<%= @response.description.html_safe %> 
<br> 
<br> 

<li><a href="/players/new">New Player</a></li>
<li><a href="/todo">To Do</a></li>



</h2> 


	

<h2>Today's date is <%=Date.today + 3650 %> <br>


  The time now is <%=Time.now.strftime("%I:%M:%S %p")  %></h2> 

<div class="row">
	<% @players.each do |player| %>
<li><a href="/players/<%= player.id %>" ></li> 	
	<h3> <%= player.last_name %> 
 <%= player.gender %> <br></h3>


	<% end %>

<%= form_tag "Form_tag" %>
<%= label_tag "Label_tag" %>
	<%= submit_tag "Edit Player" %>



