<div class="container">
<li><a href="/scenarios">All Scenarios</a></li>

<h1> <%= @scenario.short_description %> </h1> 
<div class="span6">
      <h2>Enter SQL</h2>

        <%= form_tag '/answers' do %>
          <%= hidden_field_tag(:id, params[:id]) %>
          <%= text_area_tag :answer %>
          <%= submit_tag "Run Query" %>
        <% end %>
</div>

<h1> <%= @scenario.scenario %> <br> 

     <%= @scenario.description %> <br> 
     <%= @scenario.descriptiontwo %> </h1> 

<!-- 
<h1> <%= @scenario.scenario %> </h1> 
<h1> <%= @scenario.short_description %> </h1> 
<h1>     <%= @scenario.description %> </h1> 
 <h1>    <%= @scenario.descriptiontwo %> </h1> 

 -->



  <br>
  


</div>  -->
</div> 
<!-- 

<form role="form">
  <div class="form-group">
    <label for="name">Text Area</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
</form>


<div class="form-group">
  <label for="usr">Name:</label>
  <input type="text" class="form-control" id="usr">
</div>


<div class="form-group">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="sel1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
</div>
 -->

