<!DOCTYPE html>
<html>
<head>
  <title>Stratequal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<!-- <nav class="navbar navbar-default">   -->

<body>
<nav class="navbar navbar-inverse">
<!-- <nav class="navbar navbar-default"> -->
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Jeff Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
<li><a href="/players?sort=last_name">Sort LastName</a></li>
<li><a href="/players?filter=gender">Gender</a></li>
<li><a href="/players/random">Random</a></li>            
            <li><a href="#">About JeffCo</a></li>
            <li class="divider"></li>
            <li><a href="#">The Jeff is Awesome Story</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<!-- <div class="alert alert-success" role="alert">...</div>green
<div class="alert alert-info" role="alert">...</div>blue
<div class="alert alert-warning" role="alert">...</div>yellow
<div class="alert alert-danger" role="alert">...</div>red -->
<div class="container">
  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %>">
      <%= message %>
    </div>
  <% end %>


  <%= yield %> 
</div>
<footer> 

What a great footer!
</footer> 
</body>
</html>
